@model Condorcar.Models.POCO.CRide
@using Condorcar.Models.POCO
<div>
    <h4>Détail du trajet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            <picture>Pseudo du conducteur</picture>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Driver.Pseudo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehicle.Model)
        </dd>
        @*<dt> // La liste ne s'affiche pas, à regarder plus tard
            <picture>Liste des passagers</picture>
        </dt>
        <dd>
                  if(Model.Passengers != null)
                  {
                      foreach (var passenger in (List<CPassenger>)Model.Passengers)
                      {
                          <p>1</p>
                          @Html.Display(passenger.Pseudo)
                      }
                  }
                  else { <p>Aucun passager dans ce trajet !</p>}
         </dd>*@
    </dl>
        </div>
