@model IEnumerable<Condorcar.Models.POCO.CRide>

<p>
    @Html.ActionLink("Créer un nouveau trajet", "Create")
</p>
<p>@ViewBag.Message</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @if (ViewBag.Rides != null)
    {
        foreach (var item in ViewBag.Rides)
        {
            <tr>
                <td>
                    @item.DepartureTime
                </td>
                <td>
                    @item.ArrivalTime
                </td>
                <td>
                    @item.Place
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }


</table>
