@model IEnumerable<Condorcar.Models.POCO.CRide>
@{ ViewBag.Rides = Session["persoRides"];}
@using Condorcar.Models.POCO;
<p>
    <button onclick="location.href='@Url.Action("Create", "Ride")'" style="background-color:transparent; border-color:transparent;"><img src="~/Content/image/icons8-carpool-filled-50.png" /><br />Ajouter un nouveau trajet</button>
</p>
<p>@ViewBag.Message</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.Seat)
        </th>
        <th></th>
    </tr>
    @if (ViewBag.Rides != null)
    {
        foreach (var item in (List<CRide>)ViewBag.Rides)
        {
            @*Incompréhension lié au retour dans le temps pour la delorean  V *@
            if (DateTime.Compare(item.ArrivalTime, DateTime.Now) < 0 && DateTime.Compare(item.DepartureTime, DateTime.Now) < 0)
            { ViewBag.Colour = "#e84e4e"; }
            else if (DateTime.Compare(item.DepartureTime, DateTime.Now) < 0)
            {
                if (DateTime.Compare(item.ArrivalTime, DateTime.Now) > 0)
                {
                    ViewBag.Colour = "#417ee0";
                }
            }
            else
            {
                ViewBag.Colour = "#4ee872";
                ViewBag.Subscribable = true;
            }
            <tr style="background-color:@ViewBag.Colour">
                <td>
                    @item.DepartureTime
                </td>
                <td>
                    @item.ArrivalTime
                </td>
                <td>
                    @item.Place
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Vehicle.Seat
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @if (DateTime.Compare(item.DepartureTime, DateTime.Now) > 0)
                    {@Html.ActionLink("Supprimer", "Delete", new { id = item.Id })}
                </td>
            </tr>
        }
        <tr>
            <td></td> <td></td>
            <td style="background-color:#e84e4e">Le trajet est fini.</td>
            <td style="background-color:#417ee0">Le trajet est en cours.</td>
            <td style="background-color:#4ee872">Le trajet est disponible.</td>
            <td></td>
        </tr>
     }


    </table>
