@using Condorcar.Models.POCO;

@model IEnumerable<Condorcar.Models.POCO.CRide>
@{ ViewBag.RideList = Session["rideList"];
    ViewBag.Smoker = Session["smoker"];
    ViewBag.UserRideList = Session["UserRideList"];}


@ViewBag.Message
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.Pseudo)
        </th>
        <th>
            <p>Passagé(s)/Place(s) Maximum</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.CanSmoke)
        </th>
        <th></th>
    </tr>
    @if (ViewBag.RideList != null)
    {
        foreach (var item in (List<CRide>)ViewBag.RideList)
        {
            ViewBag.Unsuscribable = false;
            ViewBag.Subscribable = false;
            if(ViewBag.UserRideList != null)
            {
                foreach(var ride in (List<CRide>)ViewBag.UserRideList)
                {
                    if(ride.Id == item.Id)
                    {
                        ViewBag.Colour = "#7d8984";
                        ViewBag.Unsuscribable = true;
                    }
                }
            }
            if(ViewBag.Unsuscribable == false)
            {
                if (DateTime.Compare(item.ArrivalTime, DateTime.Now) < 0)
                { ViewBag.Colour = "#e84e4e"; }
                else if (DateTime.Compare(item.DepartureTime, DateTime.Now) < 0)
                {
                    if (DateTime.Compare(item.ArrivalTime, DateTime.Now) > 0)
                    {
                        ViewBag.Colour = "#417ee0";
                    }
                }
                else
                {
                    ViewBag.Colour = "#4ee872";
                    ViewBag.Subscribable = true;
                }
            }

            <tr style="background-color:@ViewBag.Colour">
                <td>
                    @item.DepartureTime
                </td>
                <td>
                    @item.ArrivalTime
                </td>
                <td>
                    @item.Place
                </td>
                <td>
                    @item.Price €
                </td>
                <td>
                    @item.Driver.Pseudo
                </td>
                <td>
                    @item.Passengers.Count() / @item.Vehicle.Seat
                </td>
                <td>
                    @if (ViewBag.Smoker != item.Vehicle.CanSmoke)
                    {<img src="~/Content/image/smoking.png" />}
                    @if (item.Vehicle.CanSmoke)
                    {<span>Oui</span>}
                    else
                    {<span>Non</span>}

                </td>
                <td>
                    @if (ViewBag.Unsuscribable == true && DateTime.Compare(item.DepartureTime, DateTime.Now) > 0)
                    {
                        @Html.ActionLink("Annuler mon trajet", "UnSubscribe", new { idRide = item.Id }, new { @class = "btn btn-danger" })
                    }
                    else if (ViewBag.Subscribable)
                    {

                        @Html.ActionLink("Souscrire au trajet", "UnSubscribe", new { idRide = item.Id }, new { @class = "btn btn-warning" })
                    }
                </td>
            </tr>
        }
        <tr><td></td><td style="background-color:#7d8984">Vous êtes inscrit au trajet</td><td style="background-color:#e84e4e">Le trajet est fini.</td><td style="background-color:#417ee0">Le trajet est en cours.</td><td style="background-color:#4ee872">Le trajet est disponible.</td>
            <td></td><td><img src="~/Content/image/smoking.png" />@if (ViewBag.Smoker == true) { <p>Trajet non fumeur !!</p>} else { <p>Trajet potentiellement fumeur !!</p> } </td></tr>
    }
    else
    {
        <tr><td>Il n'y a actuellement aucun trajet proposé pour les prochaines dates ! :(</td></tr>
    }
</table>
